<div id="search">
<form action="{{ path('book_orders') }}" method="get">
   <input name="search" class="form-control" type="text"  placeholder="{{ 'form.labels.search.placeholder'|trans({}, 'messages') }}">
   <button type="submit" class="btn btn-primary  col-md-2">{{ 'form.labels.search.button'|trans({}, 'messages') }}</button>
</form>
</div>
