<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}NFQ - nejuras{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('css/nfq.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ path('book_form') }}">NFQ</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ path('book_orders') }}">Užsakymai</a></li>
            </ul>
          </div>
        </nav>
        <div class="container">
           <div class="row">
              <div class="col-sm-12">
                {% block body %}{% endblock %}
              </div>
           </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
